<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Create New Transport</h5>
    <div class="card-body">
        <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)" >
            <div class="form-row">
                
                <div class="form-group col-5">
                    <label>Name of Station</label>
                    <input type="text" ngModel name="stationFrom"  class="form-control" />
                   
                </div>
                <div class="form-group col-5">
                    <label>Type</label>
                    <select name="stationTo" class="form-control">
                        <option>Bus</option>
                        <option>Taxi</option>
                        <option>Tram</option>
                      </select>

                </div>
                <div class="form-group col-5">
                    <label>Time</label>
                    <input type="text" placeholder="hh:mm" ngModel name="stationFrom"  class="form-control" />
                   
                </div>
            </div>
           
           
            <div class="text-center">
                <button class="btn btn-primary mr-1">Add Station</button>
                <button class="btn btn-secondary" type="button" [routerLink]="['']" >Cancel</button>
            </div>
        </form>

    </div>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />